---
---
@import "pure-pure.scss";
@import "pure-grids-responsive.scss";
@import "fon-colours.scss";

html,
button,
input,
select,
textarea,
.pure-g [class *= "pure-u"] {
  font: 1em/1.5 "Noto Sans", sans-serif;
}

.wrapper {
  padding: 3em 0;
}

.banner {
  background: $primary-colour;
  color: #fff;
}

.banner-nav {
  background: $primary-colour-700;
}

div.nav,
div.container,
div.container-g {
  margin: 0 auto;
}

.pure-menu {
}

.pure-menu-heading {
  color: #fff;
  opacity: .54;
}

.pure-menu-link {
  color: #fff;
  opacity: .87;
}

.pure-menu-active > .pure-menu-link,
.pure-menu-link:hover,
.pure-menu-link:focus {
    color: $primary-colour;
}


.pure-menu-children {
  text-align: left;
}

.nav-heading,
.nav-list {
  text-align: center;
}

.nav-home .nav-home,
.nav-activities .nav-activities,
.nav-map .nav-map {
  opacity: 1;
}

.header {
  text-align: center;
  padding: 4rem 0;
}

.header-title {
  font-size: 3em;
  line-height: 1em;
  text-transform: uppercase;
}

.header-text {
  font-size: 1.5em;
  opacity: .7;
  line-height: 1em;
  margin: 0;
}

.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
 background-color: $secondary-colour-400;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

h1, h2, h3,
ul, ol, dd,
p, table {
  margin: 0 0 1.5rem;
}

blockquote {
  text-align: center;
  font-size: 1.5em;
}

@media screen and (min-width: 35.5em) {
  div.container,
  div.container-g {
    width: 35em;
  }
}

@media screen and (min-width: 48em) {
  .nav-heading {
    text-align: left;
  }

  .nav-list {
    text-align: right;
  }
  div.container-g {
    width: 45em;
  }
}

@media screen and (min-width: 64em) {
  div.container-g {
    width: 60em;
  }
}

@media screen and (min-width: 80em) {
}
