---
---
@import "pure-pure.scss";
@import "pure-grids-responsive.scss";
@import "fon-colours.scss";

html,
button,
input,
select,
textarea,
.pure-g [class *= "pure-u"] {
  font: 1em/1.5 "Noto Sans", sans-serif;
  opacity: .87;
}

.wrapper {
  padding: 3em 0;
}

.banner {
  background: $primary-colour;
  color: #fff;
}

.banner-nav {
  background: $primary-colour-700;
}

div.nav,
div.container,
div.container-g {
  margin: 0 auto;
}

.l-box {
  padding: 0 1em;
}

.pure-menu {
}

.pure-menu-heading {
  color: #fff;
  opacity: .54;
}

.pure-menu-link,
.activity-icon a,
.activity-heading a,
.social-icon a,
.banner a {
  color: #fff;
  opacity: .87;
  text-decoration: none;
}

.activity-icon a:hover,
.activity-heading a:hover,
.banner a:hover {
  opacity: 1;
}

.pure-menu-children > .pure-menu-item > .pure-menu-link {
  color: $primary-colour;
}

.pure-menu-active > .pure-menu-link,
.pure-menu-link:hover,
.pure-menu-link:focus {
    color: $primary-colour;
}


.pure-menu-children {
  text-align: left;
}

.nav-heading,
.nav-list {
  text-align: center;
}

.nav-grants .nav-grants,
.nav-activities .nav-activities,
.nav-map .nav-map {
  opacity: 1;
}

.header {
  text-align: center;
  padding: 4rem 0;
}

.header-title {
  font-size: 1.5em;
  line-height: 1em;
  text-transform: uppercase;
}

.header-text {
  opacity: .7;
  line-height: 1em;
  margin: 0;
}

.activity-icon {
  text-align: center;
  font-size: 3em;
}

.activity-icon .material-icons {
  font-size: 3em;
}

.activity-heading,
.social-icon {
  text-align: center;
}

.social-icon i {
  font-size: 1.5em;
}

.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
 background-color: $secondary-colour-400;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

h1, h2, h3,
ul, ol, dd,
p, table, form {
  margin: 0 0 1.5rem;
}

blockquote {
  text-align: center;
  font-size: 1.5em;
}

ul {
  padding-left: 1em;
}

input {
  color: #000;
}

@media screen and (min-width: 35.5em) {
  .nav-heading {
    text-align: left;
  }

  .nav-list {
    text-align: right;
  }

  .header-title {
    font-size: 3em;
  }

  .header-text {
    font-size: 1.5em;
  }

  div.container,
  div.container-g {
    width: 35em;
  }
}

@media screen and (min-width: 48em) {
  div.container-g {
    width: 40em;
  }
}

@media screen and (min-width: 64em) {
}

@media screen and (min-width: 80em) {
}
