*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

.leaflet-container {
  font-family: "Noto Sans", sans-serif;
}

.leaflet-top .leaflet-control {
  margin-top: 4em;
}

body,
html {
  height: 100%;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5em;
  z-index: 9;
  width:100%;
}

.map-container {
  height: 100%;
  padding-top: 4em;
}

#map {
  height: 100%;
}

.mapTitle {
  margin: 0;
  padding: .25em .5em;
  font-size: 1.5em;
  font-weight: bold;
  background: rgba(255,255,255,1);
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  border-radius: 5px;
}
.wardLabel {
  font-weight: bold;
  text-align: center;
  background: rgba(255,255,255,0.0);
  border: 0px solid #fff;
  border-radius: 5px;
}
.my-div-icon {
  padding: 0;
  font-weight: bold;
  text-align: center;
  background: rgba(255,255,255,1);
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  border-radius: 50%;
}
.leaflet-popup-content ul {
  padding-left: 1em;
}
@media screen and (min-width: 35.5em) {
  .map-container {
    padding-top: 2em;
  }
  .leaflet-top .leaflet-control {
    margin-top: 2em;
  }
}
