<form action="http://waterlooregion.us4.list-manage.com/subscribe/post" method="POST" class="pure-form pure-form-stacked">
  <input type="hidden" name="u" value="6faa6d01ef97cec3b901e38c5">
  <input type="hidden" name="id" value="13a8a94cfa">
  <div class="pure-control-group">
    <label for="MERGE0">Email address (required)</label>
    <input class="pure-input-1" type="email" value="" name="MERGE0">
  </div>
  <div class="pure-control-group">
    <label for="MERGE1">First name</label>
    <input class="pure-input-1" type="text" value="" name="MERGE1" id="MERGE1">
  </div>
  <div class="pure-control-group">
    <label for="MERGE2">Last name</label>
    <input class="pure-input-1" type="text" value="" name="MERGE2" id="MERGE2">
  </div>
  <div class="pure-controls">
    <label for="EMAILTYPE_HTML" class="pure-radio">
    <input type="radio" value="html" name="EMAILTYPE" id="EMAILTYPE_HTML" checked>
    html
    </label>
    <label for="EMAILTYPE_TEXT" class="pure-radio">
    <input type="radio" value="text" name="EMAILTYPE" id="EMAILTYPE_TEXT">
    text
    </label>
    <input type="submit" value="Subscribe" name="submit" class="pure-button pure-button-primary">
  </div>
  <div style="position: absolute; left: -5000px;"><input type="text" name="b_6faa6d01ef97cec3b901e38c5_13a8a94cfa" tabindex="-1" value=""></div>
</form>

