<form
  action="//waterlooregion.us2.list-manage.com/subscribe/post?u=6faa6d01ef97cec3b901e38c5&amp;id=13a8a94cfa" 
  method="post"
  class="pure-form pure-form-stacked"
  name="mc-embedded-subscribe-form">
  <div class="pure-control-group">
    <label for="mce-EMAIL">Email address (required)</label>
    <input class="pure-input-1" type="email" value="" name="EMAIL" id="mce-EMAIL">
  </div>
  <div class="pure-control-group">
    <label for="mce-FNAME">First name</label>
    <input class="pure-input-1" type="text" value="" name="FNAME" class="" id="mce-FNAME">
  </div>
  <div class="pure-control-group">
    <label for="mce-LNAME">Last name</label>
    <input class="pure-input-1" type="text" value="" name="LNAME" class="" id="mce-LNAME">
  </div>
  <div class="pure-controls">
    <label for="mce-EMAILTYPE-0" class="pure-radio">
    <input type="radio" value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0" checked>
    html
    </label>
    <label for="mce-EMAILTYPE-1" class="pure-radio">
    <input type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1">
    text
    </label>
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="pure-button pure-button-primary">
  </div>
  <div style="position: absolute; left: -5000px;"><input type="text" name="b_9fa9b869642bb1616dc907c06_7e2147a8e7" tabindex="-1" value=""></div>
</form>

