---
layout: default
---
<header>
  <div class="wrapper banner header">
    <h1 class="header-title">{{site.title}}</h1>
    <p class="header-text">{{page.title}}</p>
  </div>
</header>
  {{content}}
<footer>
  <div class="wrapper banner">
    <div class="pure-g container-g">
      <div class="pure-u-1 pure-u-md-1-2">
        <div class="l-box">
          <h2>Subscribe to Our Mailing List</h2>
          
            {% include mailchimp.html %}
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-1-2">
        <div class="l-box">
          <h2>Contact us</h2>
          <p>
            c/o Social Planning Council<br>
            151 Frederick St, Ste 300 Kitchener, N2H 2M2<br>
            Tel: 519-578-3800<br>
            Tel/TTY: 519-579-1096<br>
            Fax: 519-578-9185
          </p>
          <div class="pure-g">
            <div class="pure-u-1-3 social-icon">
              <a href="https://twitter.com/FONkitchener"><i class="fa fa-twitter"></i></a>
            </div>
            <div class="pure-u-1-3 social-icon">
              <a href="https://www.facebook.com/FONKitchener"><i class="fa fa-facebook"></i></a>
            </div>
            <div class="pure-u-1-3 social-icon">
              <a href="mailto:entries@festivalofneighbourhoods.ca"><i class="fa fa-envelope"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/pure-menus.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.js"></script>

